<section class="entry-comments wow fadeInUp" data-wow-duration=".8s">
  <h4>Comments</h4>
  <div id="disqus_thread"></div>

  <script type="text/javascript">
    // Use the post.id as indentifier
    var disqus_identifier = 'marfa';
  </script>
  <noscript>Пожалуйста, включите JavaScript <a href="http://disqus.com/?ref_noscript">чтобы увидеть комментарии Disqus</a>.</noscript>
</section>
