<footer class="site-footer">
  <section class="site-footer-links">
    <div class="row">
      <div class="column medium-column-65">
        <nav class="social-navigation" role="navigation">
          <ul></ul>
        </nav>

        <div class="copyright">
          <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/" rel="license"><img alt="Лицензия Creative Commons " src="http://i.creativecommons.org/l/by-nc-sa/4.0/80x15.png" style="border-width:0"></a> | <a href="//themarfa.name">All-In-One Person</a></p>
        </div>
      </div>
      <div class="column medium-offset-5">
        <a href="#" class="scroll-top">Вернуться в начало?</a>
      </div>
    </div>
  </section>
</footer>
