<nav class="pagination" role="pagination">
  <span class="page-number">Страница {{page}} из {{pages}}</span>
  <ul>
    {{#if prev}}
      <li class="prev"><a href="{{page_url prev}}">К новым постам</a></li>
    {{/if}}
    {{#if next}}
      <li class="next"><a href="{{page_url next}}">К старым постам</a></li>
    {{/if}}
  </ul>
</nav>
