<aside class="sidebar">

  {{#is "post"}}
    <section class="widget">
      <!-- Go to www.addthis.com/dashboard to customize your tools --> <div class="addthis_inline_share_toolbox"></div>
    </section>
  {{/is}}

  {{> widget-recent-posts}}

  {{> widget-instagram}}

  {{> widget-tag-cloud}}

</aside>
