<aside class="sidebar">

  {{#is "post"}}
    <section class="widget">
      <p>Поделиться</p>
      <!-- Go to www.addthis.com/dashboard to customize your tools --> <div class="addthis_inline_share_toolbox"></div>
    </section>
  {{/is}}

  {{> widget-recent-posts}}

  {{> widget-instagram}}
  
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Adaptive -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-6070814285497936"
     data-ad-slot="3487354804"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>

  {{> widget-tag-cloud}}

</aside>
