<section class="widget widget-instagram">
  <h3 class="widget-title">Instagram</h3>
  <div id="instafeed"><!-- LightWidget WIDGET --><script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script><iframe src="//lightwidget.com/widgets/606800d41dd3540c9f80432f92ce0016.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width:100%;border:0;overflow:hidden;"></iframe></div>
</section>
