<section class="widget widget-instagram">
  <h3 class="widget-title">Instagram</h3>
  <div id="instafeed"><!-- InstaWidget -->
<a href="https://instawidget.net/v/user/thepainfultruthaboutthemarfa" id="link-7d83f81dfd60f2e2cc597dbf1a43f32b024361df9e18991fbe57531a948994a9">@thepainfultruthaboutthemarfa</a>
<script src="https://instawidget.net/js/instawidget.js?u=7d83f81dfd60f2e2cc597dbf1a43f32b024361df9e18991fbe57531a948994a9&width=300px"></script></div>
</section>
